@import 'variables';

// Border with
$border: ();

@for $i from 0 through 10 {
  $border: join($border, $i);
}

@for $i from 3 through 20 {
  $border: join($border, $i * 5);
}

@each $prop in $border {
  $value: 0 solid;

  @if ($prop != 0) {
    $value: #{$prop}px solid;
  }

  .b-#{$prop} {
    border: $value;
  }

  .by-#{$prop} {
    border-top: $value;
    border-bottom: $value;
  }

  .bx-#{$prop} {
    border-left: $value;
    border-right: $value;
  }

  .bt-#{$prop} {
    border-top: $value;
  }

  .br-#{$prop} {
    border-right: $value;
  }

  .bb-#{$prop} {
    border-bottom: $value;
  }

  .bl-#{$prop} {
    border-left: $value;
  }
}

// Border radius
$radius: ();

@for $i from 0 through 10 {
  $radius: join($radius, $i);
}

@for $i from 3 through 20 {
  $radius: join($radius, $i * 5);
}

$radius: join($radius, (1000, 10000));

@each $query, $breakpoint in $breakpoints {
  $query: addColonAfter($query);

  @include wrapperMediaWidth($breakpoint, null) {
    @each $prop in $radius {
      $value: 0;

      @if ($prop != 0) {
        $value: #{$prop}px;
      }

      .#{$query}r-#{$prop} {
        border-radius: $value;
      }
    }
  }
}

// Border style
$style: 'solid', 'dashed', 'dotted', 'double', 'groove', 'inset', 'none', 'outset', 'ridge';

@each $value in $style {
  .b-#{$value} {
    border-style: #{$value};
  }
}

// Border collapse
$collapse: 'collapse', 'separate';

@each $value in $collapse {
  .b-#{$value} {
    border-collapse: #{$value};
  }
}
