// Border with
$border: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);

@each $value in $border {
  .b-#{$value} {
    border: #{$value}px solid;
  }

  .by-#{$value} {
    border-top: #{$value}px solid;
    border-bottom: #{$value}px solid;
  }

  .bx-#{$value} {
    border-left: #{$value}px solid;
    border-right: #{$value}px solid;
  }

  .bt-#{$value} {
    border-top: #{$value}px solid;
  }

  .br-#{$value} {
    border-right: #{$value}px solid;
  }

  .bb-#{$value} {
    border-bottom: #{$value}px solid;
  }

  .bl-#{$value} {
    border-left: #{$value}px solid;
  }
}

// Border radius
$radius: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 1000, 10000);

@each $value in $radius {
  .radius-#{$value} {
    border-radius: #{$value}px;
  }
}

// Border style
$style: ('solid', 'dashed', 'dotted', 'double', 'groove', 'inset', 'none', 'outset', 'ridge');

@each $value in $style {
  .b-#{$value} {
    border-style: #{$value};
  }
}

// Border collapse
$collapse: ('collapse', 'separate');

@each $value in $collapse {
  .b-#{$value} {
    border-collapse: #{$value};
  }
}
