@import 'variables';

@each $query, $breakpoint in $breakpoints {
  $query: addColonAfter($query);

  @include wrapperMediaWidth($breakpoint, null) {
    // 12 columns with
    @for $i from 1 through 12 {
      .#{$query}w-12\/#{$i} {
        width: (100% / (12 / $i));
      }
    }

    // Percentage width
    @for $i from 1 through 20 {
      .#{$query}w-100\/#{$i*5} {
        width: $i * 5%;
      }
    }

    // Viewport width
    @for $i from 1 through 20 {
      .#{$query}w-#{$i*5}v {
        width: $i * 5vw;
      }
    }

    // Viewport height
    @for $i from 1 through 20 {
      .#{$query}h-#{$i*5}v {
        height: $i * 5vh;
      }
    }

    // Width auto
    .w-auto {
      width: auto;
    }

    // Height auto
    .h-auto {
      height: auto;
    }

    // Fit with and height
    .#{$query}fit {
      width: 100%;
      height: 100%;
    }

    // Fit with
    .#{$query}fit-w {
      width: 100%;
    }

    // Fit height
    .#{$query}fit-h {
      height: 100%;
    }
  }
}

// Fixed with and height
$sizes: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
$sizesExtend: 11, 12, 14, 16, 18, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 72, 80, 96;
$sizes: join($sizes, $sizesExtend);

@for $i from 10 through 50 {
  $sizes: join($sizes, $i * 10);
}

@each $size in $sizes {
  // Width
  .w-#{$size} {
    width: #{$size}px;
  }

  // Height
  .h-#{$size} {
    height: #{$size}px;
  }
}
