$selectors: 'inline', 'block', 'inline-block', 'flex', 'inline-flex';

@each $selector in $selectors {
  .#{$selector} {
    display: #{$selector};
    @if $selector == 'flex' {
      flex-wrap: wrap;
    }
  }
}
