// Flex wrap
$wrap: ('wrap', 'wrap-reverse', 'nowrap');

@each $query, $breakpoint in $breakpoints {
  $query: addColonAfter($query);

  @include wrapperMediaWidth($breakpoint, null) {
    @each $value in $wrap {
      .#{$query}flex-#{$value} {
        flex-wrap: #{$value};
      }
    }
  }
}

// Flex Direction
$direction: ('row', 'row-reverse', 'column', 'column-reverse');

@each $query, $breakpoint in $breakpoints {
  $query: addColonAfter($query);

  @include wrapperMediaWidth($breakpoint, null) {
    @each $value in $direction {
      .#{$query}flex-#{$value} {
        flex-direction: #{$value};
      }
    }
  }
}

// Flex align
$justify: (
  'start': 'flex-start',
  'end': 'flex-end',
  'center': 'center',
  'around': 'space-around',
  'between': 'space-between',
  'evenly': 'space-evenly',
);

$align: (
  'start': 'flex-start',
  'end': 'flex-end',
  'center': 'center',
  'stretch': 'stretch',
);

@each $query, $breakpoint in $breakpoints {
  $query: addColonAfter($query);

  @include wrapperMediaWidth($breakpoint, null) {
    @each $prop, $value in $justify {
      .#{$query}justify-#{$prop} {
        justify-content: #{$value};
      }

      .#{$query}justify-self-#{$prop} {
        justify-self: #{$value};
      }
    }

    @each $prop, $value in $align {
      .#{$query}align-#{$prop} {
        align-items: #{$value};
      }

      .#{$query}align-self-#{$prop} {
        align-self: #{$value};
      }
    }
  }
}

@each $query, $breakpoint in $breakpoints {
  $query: addColonAfter($query);

  @include wrapperMediaWidth($breakpoint, null) {
    // Flex resize 0
    .#{$query}flex-0 {
      flex: 0;
    }

    // Flex resize 1
    .#{$query}flex-1 {
      flex: 1;
    }

    // Flex grow 0
    .#{$query}flex-grow-0 {
      flex-grow: 0;
    }

    // Flex grow 0
    .#{$query}flex-grow-1 {
      flex-grow: 1;
    }

    // Flex shrink 0
    .#{$query}flex-shrink-0 {
      flex-shrink: 0;
    }

    // Flex shrink 1
    .#{$query}flex-shrink-1 {
      flex-shrink: 1;
    }
  }
}
