// Flex wrap
$wrap: ('wrap', 'wrap-reverse', 'nowrap');

@each $prop, $breakpoint in $breakpoints {
  $prop: addPrefixBreakpoint($prop);

  @include mediaMinmaxWidth($breakpoint, null) {
    @each $value in $wrap {
      .#{$prop}flex-#{$value} {
        flex-wrap: #{$value};
      }
    }
  }
}

// Flex Direction
$direction: ('row', 'row-reverse', 'column', 'column-reverse');

@each $prop, $breakpoint in $breakpoints {
  $prop: addPrefixBreakpoint($prop);

  @include mediaMinmaxWidth($breakpoint, null) {
    @each $value in $direction {
      .#{$prop}flex-#{$value} {
        flex-direction: #{$value};
      }
    }
  }
}

// Flex align
$align: (
  'start': 'flex-start',
  'end': 'flex-end',
  'center': 'center',
  'space': 'space-between',
);

@each $prop, $breakpoint in $breakpoints {
  $prop: addPrefixBreakpoint($prop);

  @include mediaMinmaxWidth($breakpoint, null) {
    @each $query, $value in $align {
      .#{$prop}justify-#{$query} {
        justify-content: #{$value};
      }
      @if $query != 'space' {
        .#{$prop}align-#{$query} {
          align-items: #{$value};
        }
      }
    }
  }
}

@each $prop, $breakpoint in $breakpoints {
  $prop: addPrefixBreakpoint($prop);

  @include mediaMinmaxWidth($breakpoint, null) {
    // Flex resize 0
    .#{$prop}flex-0 {
      flex: 0 0 auto;
    }

    // Flex resize 1
    .#{$prop}flex-1 {
      flex: 1 1 auto;
      min-width: 0;
    }

    // Flex grow 0
    .#{$prop}flex-grow-0 {
      flex-grow: 0;
    }

    // Flex grow 0
    .#{$prop}flex-grow-1 {
      flex-grow: 1;
    }

    // Flex shrink 0
    .#{$prop}flex-shrink-0 {
      flex-shrink: 0;
    }

    // Flex shrink 1
    .#{$prop}flex-shrink-1 {
      flex-shrink: 1;
    }
  }
}
