@import 'variables';

// Font sizes
// $size: 10, 11, 12, 13, 14, 15, 16, 18, 20, 24, 30, 36, 48, 54, 60, 72, 84, 96, 108, 120, 128, 132;
$size: 10;

@for $i from 11 through 20 {
  $size: join($size, $i);
}

@for $i from 22 through 40 {
  @if $i % 2 == 0 {
    $size: join($size, $i);
  }
}

@for $i from 45 through 150 {
  @if $i % 5 == 0 {
    $size: join($size, $i);
  }
}

@each $query, $breakpoint in $breakpoints {
  $query: addColonAfter($query);

  @include wrapperMediaWidth($breakpoint, null) {
    @each $value in $size {
      .#{$query}fs-#{$value} {
        font-size: #{$value}px;
      }
    }
  }
}
