@import 'variables';

// Font sizes
$size: 10, 12, 14, 16, 18, 20, 24, 30, 36, 48, 54, 60, 72, 84, 96, 108, 120, 128, 132;

@each $query, $breakpoint in $breakpoints {
  $query: addColonAfter($query);

  @include wrapperMediaWidth($breakpoint, null) {
    @each $value in $size {
      .#{$query}fs-#{$value} {
        font-size: $value * 0.75pt;
      }
    }
  }
}
