@for $i from 0 through 5 {
  $value: 0;
  $prop: 0;

  @for $j from 0 to 9 {
    @if ($j==0) {
      $value: $i;
      $prop: $i;
    } @else {
      $value: $i + $j/10;
      $prop: $i + '\\.'+ $j;
    }

    .lh-#{$prop} {
      line-height: $value;
    }
  }
}
