$overflow: 'auto', 'hidden', 'visible', 'scroll', 'overlay';
$coordinate: null, 'x', 'y';

@each $query, $breakpoint in $breakpoints {
  $query: addColonAfter($query);

  @include wrapperMediaWidth($breakpoint, null) {
    @each $prop in $coordinate {
      @if ($prop) {
        $prop: -#{$prop};
      }
      @each $value in $overflow {
        .#{$query}of#{$prop}-#{$value} {
          @if ($value == 'overlay') {
            overflow#{$prop}: auto;
          }
          overflow#{$prop}: #{$value};
        }
      }
    }
  }
}
