// Position
$position: 'static', 'relative', 'absolute', 'fixed', 'sticky';

@each $prop, $breakpoint in $breakpoints {
  $prop: addPrefixBreakpoint($prop);

  @include mediaMinmaxWidth($breakpoint, null) {
    @each $pos in $position {
      .#{$prop}#{$pos} {
        position: #{$pos};

        @if $pos == 'sticky' or $pos == 'absolute' {
          top: 0;
        }
      }
    }
  }
}

// Top, right, bottom, left
$styles: 'top', 'right', 'bottom', 'left';

$space: ();

@for $i from 0 through 10 {
  $space: join($space, $i);
}

@for $i from 3 through 100 {
  $space: join($space, $i * 5);
}

@each $prop, $breakpoint in $breakpoints {
  $prop: addPrefixBreakpoint($prop);

  @include mediaMinmaxWidth($breakpoint, null) {
    @each $style in $styles {
      @each $size in $space {
        $value: 0;

        @if ($size != 0) {
          $value: #{$size}px;
        }

        .#{$prop}#{$style}-#{$size} {
          #{$style}: $value;
        }
      }
    }
  }
}
