// Text align
$align: 'left', 'center', 'right', 'justify';

@each $prop, $breakpoint in $breakpoints {
  $prop: addPrefixBreakpoint($prop);

  @include mediaMinmaxWidth($breakpoint, null) {
    @each $value in $align {
      .#{$prop}text-#{$value} {
        text-align: #{$value};
      }
    }
  }
}

// Text transform
$trasform: 'uppercase', 'lowercase', 'capitalize';

@each $value in $trasform {
  .#{$value} {
    text-transform: #{$value};
  }
}

.no-transform {
  text-transform: none;
}

// Text decoration
$decoration: 'underline', 'line-through';

@each $value in $decoration {
  .#{$value} {
    text-decoration: #{$value};
  }
}

.no-decoration {
  text-decoration: none;
}

// Text trim
.text-trim {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
