// Text align
$align: 'left', 'center', 'right', 'justify';

@each $query, $breakpoint in $breakpoints {
  $query: addColonAfter($query);

  @include wrapperMediaWidth($breakpoint, null) {
    @each $value in $align {
      .#{$query}text-#{$value} {
        text-align: #{$value};
      }
    }
  }
}

// Text transform
$trasform: 'uppercase', 'lowercase', 'capitalize';

@each $value in $trasform {
  .#{$value} {
    text-transform: #{$value};
  }
}

.no-transform {
  text-transform: none;
}

// Text decoration
$decoration: 'underline', 'line-through';

@each $value in $decoration {
  .#{$value} {
    text-decoration: #{$value};
  }
}

.no-decoration {
  text-decoration: none;
}

// Text trim
@each $query, $breakpoint in $breakpoints {
  $query: addColonAfter($query);

  @include wrapperMediaWidth($breakpoint, null) {
    .#{$query}text-trim {
      max-width: 100%;
      min-width: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
