// Screen breakpoints
$breakpoints: (
  null: null,
  'sm': 390,
  'md': 768,
  'lg': 1024,
  'xl': 1400,
);

// Media rule wrapper
@mixin wrapperMediaWidth($min-width, $max-width) {
  @if ($min-width and $max-width) {
    @media screen and (min-width: #{$min-width}px) and (max-width: #{$max-width}px) {
      @content;
    }
  } @else if($min-width) {
    @media screen and (min-width: #{$min-width}px) {
      @content;
    }
  } @else if($max-width) {
    @media screen and (max-width: (($max-width - 1px))) {
      @content;
    }
  } @else {
    @content;
  }
}

// Add color after input string
@function addColonAfter($query) {
  @if ($query) {
    @return '#{$query}\\:';
  } @else {
    @return $query;
  }
}

// Replace text
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}
