@import './variables';

// Display visible
@each $query, $breakpoint in $breakpoints {
  $query: addColonAfter($query);

  @include wrapperMediaWidth(null, $breakpoint) {
    @if ($query) {
      .#{$query}show {
        display: none !important;
      }

      .#{$query}visible {
        visibility: hidden !important;
      }
    }
  }
}

// Display hidden
@each $query, $breakpoint in $breakpoints {
  $query: addColonAfter($query);

  @include wrapperMediaWidth($breakpoint, null) {
    .#{$query}hide {
      display: none !important;
    }

    .#{$query}hidden {
      visibility: hidden !important;
    }
  }
}
