@import './variables';

// Display visible
@each $prop, $breakpoint in $breakpoints {
  $prop: addPrefixBreakpoint($prop);

  @include mediaMinmaxWidth(null, $breakpoint) {
    @if ($prop) {
      .#{$prop}visible {
        display: none !important;
      }
    }
  }
}

// Display hidden
@each $prop, $breakpoint in $breakpoints {
  $prop: addPrefixBreakpoint($prop);

  @include mediaMinmaxWidth($breakpoint, null) {
    .#{$prop}hidden {
      display: none !important;
    }
  }
}
